.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background:#262626; */
    border-radius: 25px;
    z-index: 1;
}

.loading::after {
    content: '';
    position: absolute;
   
    /* left: 33.3%; */
    width: 100px;
    height: 5px;
    border-radius: 25px;
    background: #008080;
    z-index: 2;
    /* transform-origin: left; */
    transform: scaleX(0);
    animation: animate 2s infinite alternate;
}
.loading{
    margin-top: 10px;
    margin-bottom: 20px;
}
@keyframes animate {
    0% {
        transform: translateX(0) scaleX(0);
         transform-origin: left; 
        /* left:30px; */
        /* right: auto; */
    }

    45% {
        transform: translateX(0) scaleX(1);
        transform-origin: left;
        /* left: 30px; */
        /* right: auto; */
    } 

    55% {
        transform: translateX(0) scaleX(1);
        transform-origin: right;
        /* left: auto; */
        /* right: 30px; */
    }

    100% {
        transform: translateX(0) scaleX(0);
        transform-origin: right;
        /* left: auto; */
        /* right: 30px; */
    }
}